* {
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
}

.wrapper{
  display: flex;
  .chat-bar{
    height: 100vh;
    width: 300px;
    &__user-name{
      height: 100px;
      background-color: #253141;
      display: flex;
      align-items: center;
      justify-content: center;
      .top-items{
        height: 20px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        color: white;
        margin:0px 20px;
        font-weight: bold;
        &__icons{
          width: 60px;
          height: 20px;
          margin-left: 5px;
          text-align: right;
          .icon {
            color: white;
          }
        }
      }
    }
    .chat-bar__group-list{
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 20px;
      .group{
        margin-bottom: 40px;
        &-link {
          text-decoration: none;
          &__name{
            color: white;
            font-size: 15px;
            margin-bottom: 5px;
          }
          &__message{
            color: white;
            font-size: 11px;
          }
        }
      }
    }
  }

  .chat-main{
    height: 100vh;
    width: calc(100vw - 300px);
    float: left;
    
    &__group-info{
      height: 100px;
      background-color: #ffffff;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 2px #eeeeee;
      // border-bottom-color: #000000;
      // border-bottom: 10px;
      .group-info__left{
        margin-top: 35px;
        &__up{
          margin-bottom: 15px;
          color: #333333;
          font-size: 20px;
        }
        &__down{
          color: #999999;
          font-size: 12px;
        }
      }
      .group-info__raight{
        margin-top: 28px;
        height: 40px;
        width: 72px;
        padding: 0 20px;
        font-size: 16px;
        font-weight: bold;
        border: solid 1px #38aef0;
        line-height: 40px;
        a {
          color: #38aef0;
        }
      }
    }
    .chat-main__message-lists{
      height: calc(100vh - 190px);
      background-color: #fafafa;
      padding: 40px;
      overflow:scroll;
      
      .chat-main__message-list{
        padding-bottom: 40px;
        .message__info{
          display: flex;
          margin-bottom: 10px;
          &-taker{
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &-date{
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        .message__text{
          color: #434a54;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
    .chat-main__message-form{
      height: 90px;
      background-color: #d2d2d2;
      padding: 20px 40px;
      form {
        display: flex;
        .input-box{
          position: relative;
          width: 100%;
          &__text{
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            color: #434a54;
            border-style: none;
          }
          &__image{
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;
            &__file{
              display: none;
            }
          }
        }
        .submit-btn{
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: white;
        }
      }
    }
  }
}

